/*------ VERSION MOBILE ------*/
@media (min-width: 100px) and (max-width: 1000px) {
    .option{
        width: 400px;
        height: 98%;
        border: 7px solid #FC8314;
        background-color: #302821;
        z-index: 2;
        display:none;
    }

    img[alt="smiley"]{
      width:80px;
      height:80px;
    }

    .smileys{
      height:400px;
    }

    body{
      overflow: scroll;
    }

    button[tab="optionformatage"]{
      border:2px solid #FC8314;
    }

    .contenair{
      height:85%;
    }
    .texteditor {
        font-size: 60px;
        padding: 2% 2% 2% 2%;
        text-align: start;
        flex-basis: 100%;
        height:98%;

    }
    .option{
        margin-left: 5%;

    }
    .optionselect {
        margin-left: 0%;
        position: relative;
        right: 4px;

    }
    .iconeoption{
        margin-top: 15%;
        font-size: 100px;
        border-radius: 0% 15% 15% 0%;
        margin-left: 0px;
        margin-right: 15px;
    }
    .iconeoptionblanc{
        margin-top: 15%;
        font-size: 100px;
        margin-left: 0px;
        border-radius: 0% 15% 15% 0%;
        margin-right: 15px;
    }
    .iconeoption1{
        font-size: 100px;
        margin-left: 0px;
        border-radius: 0% 15% 15% 0%;
        margin-right: 15px;
    }
    .iconeoptionrotate{
        margin-top: 15%;
        font-size: 100px;
        margin-left: 0px;
        border-radius: 0% 15% 15% 0%;
        margin-right: 15px;
    }
    #reverse{
        flex-direction: row-reverse;
        padding-left: 0px;
    }
    .titre{
        padding: 5px 5px 5px 5px;
        font-size: 50px;
        font-weight: bold;
        font-family: Montserrat, sans-serif;
        background-color: black;
        color: #FF8C00;
        text-align: center;
    }
    .part{
        background-color: #302821;
    }
    .icone{
        margin-top: 20px;
        margin-left: 30px;
        font-size: 60px;
        width: 90px;
        height: 90px;
        border-radius: 4px;
        padding: 2px 3px 2px 2px;
        color: white;
        border: 2px solid white;
        text-align: center;
    }
    .iconearrondi{
        margin-top: 20px;
        margin-left: 30px;
        font-size: 75px;
        border-radius: 50% 50% 50% 50%;
        padding: 2px 3px 2px 3px;
        color: #5E5E5E;
        border: 2px solid #5E5E5E;
    }
    .titreblanc{
        margin-top: 20px;
        margin-left: 8%;
        font-size: 35px;
        font-family: Montserrat, sans-serif;
        color: white;
        background-color: #302821;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    hr{
        text-align: right;
        width: 160px;
        height: 6px;
        background-color: white;
        border-radius: 5px;
        border: none;
    }
    select{
        margin-left: 10%;
        width: 80%;
        height: 50px;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        font-size: 30px;
    }
    /* ----------- MENU COULEUR ----------*/
    .iconecouleur{
        margin-top: 20px;
        margin-left: 7px;
        font-size: 80px;
        border-radius: 4px;
        padding: 2px 3px 2px 3px;
   
    }
    .perso{
        font-size: 40px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
    }
    input{
        width: 100px;
        height: 30px;
    }
    /* ---------- HEADER ------*/
    header{
        padding-top: 10%;
    }
    .selected{
        padding-top: 5px;
        width: 100%;
        background-color: #F6F7F9;
    }
    .doc{
        font-size: 70px;
        font-weight: bold;
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }
    .noselected{
        display: none;
    }
}

@media (max-width: 1000px) and (max-height: 1355px) {
  .contenair{
    height:1800px;
  }
  body{
    overflow: scroll;
  }

}
