/* ---------- GENERAL ---------- */
html,body{
    width:100%;
    height:100%;
    overflow: hidden;
    margin:0px;
}

*{
    box-sizing: border-box;
}

button[command]:not(.special){
  background-color:transparent;
}

button.color{
  border:none;
}

*:focus {
    outline: none;
}

.red{
  color:red;
}

.lime{
  color:lime;
}

.orange{
  color:orange;
}

.blue{
  color:blue;
}

.gray{
  color:gray;
}

.purple{
  color:purple;
}

/* ---------- FIN GENERAL ---------- */

/* ---------- HEADER ---------- */
header{
    padding-top: 5%;
    width: 100%;
    background-color: black;
}

.selector{
    display:flex;
    flex-direction: row;
}
.selected{
    padding-top: 5px;
    width: 14%;
    background-color: #F6F7F9;

}
.noselected{
    padding-top: 5px;
    width: 86%;
    background-color: #999999;
}
.header2{
    width: 100%;
    height: 2%;
    padding-bottom: 2%;
    background-color: #393636;
}

.doc{
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
    font-family: Montserrat, sans-serif;
    color: white;
}

/* ---------- FIN HEADER ---------- */

.texteditor{
    padding: 2% 2% 2% 2%;
    text-align: justify;
    width: 75%;
    border: 7px solid #FC8314;
    overflow-y: scroll;
    height: 85%;
    background:
            linear-gradient(
                    rgba(44, 43, 42, 0.8),
                    rgba(44, 43, 42, 0.8)
            ),
            url("../img/robo.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}


.contenair{
    padding: 0% 2% 3% 2%;
    background-color: #2C2B2A;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


div[contenteditable]{
    color: white;
}
.optionselect{
    margin-left: 5%;
    display: flex;
    flex-direction: column;



}
.iconeoption{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 25px;
    padding: 2px 7px 2px 7px;
    color: black;
    border: 2px solid #FC8314;
    background-color: #FC8314;
    border-radius: 15% 0% 0% 15%;
    position: relative;
    left: 2px;
}

.iconeoptionblanc{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 25px;
  padding: 2px 7px 2px 7px;
  color: white;
  border: 2px solid #FC8314;
  background-color: #FC8314;
  border-radius: 15% 0% 0% 15%;
  position: relative;
  left: 2px;
}

.iconeoption1{
    margin-left: 15px;
    font-size: 25px;
    border-radius: 15% 0% 0% 15%;
    padding: 2px 7px 2px 7px;
    color: white;
    border: 2px solid #FC8314;
    background-color: #FC8314;
    position: relative;
    left: 2px;

}

.iconeoptionrotate{
    margin-top: 15px;
    transform:rotate(180deg);
    margin-left: 15px;
    font-size: 25px;
    border-radius: 0% 15% 15% 0%;
    padding: 2px 7px 2px 7px;
    color: black;
    border: 2px solid #FC8314;
    background-color: #FC8314;

}

input[type="file"] {
  opacity: 0;
  overflow: hidden;
  position: relative;
  top: 13px;
  left: 17px;
  width: 25px;
  height: 30px;
  z-index: 1;
}

.fa-image{
  position: relative;
  right: 25px;
}

/* ------- MENU DIVERS CATEGORIE ----------- */


.option{
    width: 220px;
    height: 85%;
    border: 7px solid #FC8314;
    background-color: #302821;
    z-index: 2;
}

.titre{
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    background-color: black;
    color: #FF8C00;
    text-align: center;
}

.part{
    background-color: #302821;
}


.icone{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 2px 3px 2px 2px;
    color: white;
    border: 2px solid white;
    text-align: center;

}

.iconearrondi{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 25px;
    border-radius: 50% 50% 50% 50%;
    padding: 2px 3px 2px 3px;
    color: #5E5E5E;
    border: 2px solid #5E5E5E;

}

.titreblanc{
    margin-top: 10px;
    margin-left: 8%;
    font-family: Montserrat, sans-serif;
    color: white;
    background-color: #302821;
    display: flex;
    align-items: center;
    font-weight: bold;
}


hr{
    text-align: right;
    width: 80px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    border: none;
}

select{
    margin-left: 10%;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

#heading{
  margin-top:15px;
}

img[alt="smiley"]{
  width:35px;
  height:35px;
}

.smileys{
  padding:15px;
  overflow-y: hidden;
  height:200px;
}

button[tab="optionformatage"]{
  border: 2px solid white;
}

div[tab="optionstyle"]{
    display: none;
}


div[tab="optionalignement"]{
    display: none;
}

div[tab="optionajout"] {
    display: none;

}


/* ----------- MENU TAILLE TITRE ----------*/

div[tab="optiontailletitre"] {
    display: none;

}
#taille{
    margin-top: 20px;
}

/* ----------- MENU LISTE ----------*/

div[tab="optionliste"]{
    display: none;

}
.partreg {
    background-color: #302821;
    text-align: left;
}


/* ----------- MENU COULEUR ----------*/

div[tab="optioncouleur"]{
    display: none;
}

.iconecouleur{
    margin-top: 20px;
    margin-left: 7px;
    font-size: 15px;
    border-radius: 4px;
    padding: 2px 3px 2px 3px;

}

.perso{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.partcouleur {
    background-color: #302821;
    text-align: center;
}

/* ----------- SCROLLBAR ----------*/
::-webkit-scrollbar {
   width: 30px;
}
::-webkit-scrollbar-track-piece {
   border: solid 11px transparent;
   border-right-width: 10px;
   -webkit-box-shadow: inset 10px 10px 0 0 #0c0c0c, inset -10px -10px 0 0 rgb(191, 75, 75);
}

::-webkit-scrollbar-thumb {
   border: solid 0 transparent;
   border-right-width: 10px;
   border-left-width: 11px;
   -webkit-box-shadow: inset 0 0 0 5px #ff8c00, inset 0 0 0 1px rgb(102,102,102);
   border-top-width: 12px;


}
::-webkit-scrollbar-thumb:hover {                        /* Barre */
   -webkit-box-shadow: inset 0 0 0 5px #dc6b03, inset 0 0 0 51px rgb(110,110,110);
}

#style{
  margin-top: 15px;
}

/* ----------- MODAL ----------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 7px solid #FC8314;
    background-color: #2C2B2A;
    width: 80%;
    height:90%;
    color:white;
    overflow-y: scroll;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#reverse{
  display:flex;
  padding-left:5%;
}
